head
	title arteDigitalMX | Framework
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	link(href="favicon.png", rel="shortcut icon", type="image/png")
	link(rel="author", type="text/plain", href="humans.txt")
	link(rel="sitemap", type="application/xml", title="Sitemap", href="sitemap.xml")

	meta(property="og:title", content="arteDigitalMX | Framework")
	meta(property="og:type", content="website")
	meta(property="og:url", content="http://deudrak.com")
	meta(property="og:image", content="img/logo.png")
	meta(property="og:site_name", content="arteDigitalMX")
	meta(property="og:description", content=" arteDigitalMX | Framework para desarrollo web")

	link(rel="stylesheet", href="css/estilos.css")