doctype html
html(lang="es")

	//- Head
	include componentes/head

	body

		//- Header
		include componentes/header

		//- Nav
		include componentes/nav

		//- Estilos
		include componentes/ejemplo

		//- Footer
		include componentes/footer


		//- jQuery y scripts principales
		script(src="js/jquery.js")
		//- Librerias JS
		script(src="js/scrollreveal_min.js")
		script(src="js/lightcase_min.js")
		//- Scripts personales
		script(src="js/scripts_min.js")